<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyMessenger</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{% static 'music/js/main.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-targer="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'accounts:home' %}">My Messages</a>
            </div>

           <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'accounts:my_friends' %}"> Friends</a></li>
                    <li><a href="{% url 'accounts:my_messages' %}"> Message</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search" method="get" action="{% url 'accounts:show_user' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="user_name" value="{{ request.GET.user_name }}">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'accounts:change_password' %}">Change Password</a></li>
                    <li><a href="{% url 'accounts:logout_user' %}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% block content %}
{% endblock %}
</body>
</html>